<section class="new">
    <div class="container">
      <h1>NEW IN</h1>
      <div class="row">
    <%- include('./product.ejs')%>
    <%- include('./product.ejs')%>
    <%- include('./product.ejs')%>
    <%- include('./product.ejs')%>
    <%- include('./product.ejs')%>
    <%- include('./product.ejs')%>
    <%- include('./product.ejs')%>
    <%- include('./product.ejs')%>
    <%- include('./product.ejs')%>
    <%- include('./product.ejs')%>
    <%- include('./product.ejs')%>
    <%- include('./product.ejs')%>

            
      </div>
    </div>
  </section>