<section class="py-3 allProduct">

    <div class="container py-4">
      
        <div class="row">
            <div class="col-md-3">
                <!-- Tabs nav -->
                <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    
                    <a class="nav-link mb-2 shadow active" id="v-pills-all-tab"  href="/layout/products" role="tab" aria-controls="v-pills-vnCf" aria-selected="true">
                        <span class="font-weight-bold small text-uppercase">All Products</span></a>

                    <a class="nav-link mb-2 shadow" id="v-pills-vnCf-tab" href="/layout/products/01" role="tab" aria-controls="v-pills-italianCf" aria-selected="false"> 
                        <span class="font-weight-bold small text-uppercase">VietNamese Coffee</span></a>

                    <a class="nav-link mb-2 shadow" id="v-pills-italianCf-tab"  href="/layout/products/02" role="tab" aria-controls="v-pills-italianCf" aria-selected="false"> 
                        <span class="font-weight-bold small text-uppercase">Italian Coffee</span></a>

                    <a class="nav-link mb-2 shadow" id="v-pills-hand-brew-tab"  href="/layout/products/03" role="tab" aria-controls="v-pills-hand-brew" aria-selected="false">
                    
                        <span class="font-weight-bold small text-uppercase">Hand Brew</span></a>

                    <a class="nav-link mb-2 shadow" id="v-pills-signature-tab"  href="/layout/products/04" role="tab" aria-controls="v-pills-signature" aria-selected="false">
  
                        <span class="font-weight-bold small text-uppercase">Signature</span></a>

                     <a class="nav-link mb-2 shadow" id="v-pills-food-tab"  href="/layout/products/06" role="tab" aria-controls="v-pills-food" aria-selected="false">
  
                        <span class="font-weight-bold small text-uppercase">Food</span>
                        </a>
                    <a class="nav-link mb-2 shadow" id="v-pills-tea-tab"  href="/layout/products/05" role="tab" aria-controls="v-pills-tea" aria-selected="false">
  
                        <span class="font-weight-bold small text-uppercase">Tea</span>
                        </a>
                    </div>
            </div>
            

            <div class="col-md-9">
                <!-- Tabs content -->
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade shadow rounded bg-white show active p-4" id="v-pills-vnCf" role="tabpanel" aria-labelledby="v-pills-vnCf-tab">
                       <% var dataa =[] %>
                        <%products.forEach(function(data) { %>
                            <% dataa.push(data.category.name)%>
                            <% }); %>
                            <% var arrSet = [...new Set(dataa)]%>
                        <h4 class="font-italic mb-4"> <%=arrSet%>   
                        </h4>
                        <div class="row">

                            <%products.forEach(function(data) { %>
                                 

                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="/../img/<%=data.image%>" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name"><%=data.name%></span>
                                    <p>Giá :<%=data.price%> VND</p>
                                    <button class="button"><span><a style="text-decoration: none; color: white;" href="/layout/product-detail/?key=<%=data._id%>">Tìm hiểu thêm</a></span></button>
                                </div>
                                </div>
                            </div>
                           
                             <% }); %>
                         
                            
                            


                            


                        </div>
                    </div>
                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>